body {
  margin: 0px;
  padding: 0px;
  background-color: #ddd;
}

header {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  height: 120px;
}

header h1 {
  font-size: 5em;
  color: #FF78C7;
  line-height: .5em;
  text-shadow: 2px 2px white;

}

.doodle-art {
  width: 100%;
}

.centered-container {
  width: 1200px;
  margin: 0 auto;
  
}

.canvas {
  border: 10px solid #ccc;
  width: 1200px;
  height: 800px;
  background-color: white;
  margin-bottom: 30px;
}

.tools {
  display: block;
}

.tool {
  background-color: #ddd;
  border: 10px solid #ccc;
  width: 200px;
  height: auto;
  text-align: center;
  padding: 0 1em 1em 1em;
  position: absolute;

}

.tool__buttons {
  font-size: 1em;
  padding: 0 20px;
}